/* Move down content because we have a fixed navbar that is 3.5rem tall */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
}
.container {
    width: auto;
    max-width: 1028px;
    padding: 0 15px;
}

.grid-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}